.header {
    background-color: var(--nav-bg-color);
    // border: 1px solid #ECECEC;
    @include bordered(1px, #ECECEC);
}
.nav,
.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: inline-block;
    margin-right: 93px;

    color: #000000;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    @media screen and (max-width: 479px){
        margin-right: 110px;
        font-size: 24px;
        line-height: 1.16;
    }
    @media screen and (min-width: 480px) and (max-width: 767px){
        margin-right: 276px;
        font-size: 24px;
        line-height: 1.16;
    }
}

.logo__color {
    color: var(--special-text-color)
}
.head-nav {
    position: relative;
}
.nav-list {
    display: flex;
    @extend %list;
    @media screen and (max-width: 767px) {
        display: none;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
        }
    
    &__link {
        transition: color var(--basic-animation);
    
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    
        color: var(--primary-text-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }
        &__link:hover,
        &__link:focus {
            color: var(--special-text-color);
            }
        
        .nav &__link.current {
            color: var(--special-text-color)
            }
        &__item {
            position: relative;
            }
        .current::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
        
            width: 100%;
            height: 4px;
        
            background-color: var(--special-text-color);
            border-radius: 2px;
            /* transition: transform var(--basic-animation);
           transform: rotateY(0deg); */
            }
}
.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width:768px) {
        display: none;
    }
}
.nav .mob-nav__link.current {
    color: var(--special-text-color);

}
.menu-container {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // @media screen and (max-width:479px) {
    // height: 100%;
    // }
    height: 100%;
    overflow: hidden;
    z-index: 999;

    // transform: translateX(100%);
    // transition: transform 250ms ease-in-out;
    

    background-color: #fff;
    padding: 48px 40px;
    text-align: left;
    @media screen and (max-width:479px) {
        padding: 28px 20px;    
        }

    &.is-open {
        display: flex;
        flex-direction: column;
    }
.mob-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    padding: 0;
}

.mob-menu-btn:hover .mob-menu-btn__icon {
    fill: var(--special-text-color);
}
.mob-nav {
    margin-bottom: auto;

    &__list {
        @extend %list;
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__link {
        @media screen and (max-width:479px) {
            font-weight: 400;
            font-size: 30px;
            line-height: 1.18;
        }

        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

    &__link:hover,
    &__link:focus {
        color: var(--special-text-color);
    }
}
// .menu-container.is-open {
//     transform: translateX(0);
// }

.mob-cont {
    
    margin-bottom: 64px;

    &__list {
        @extend %list;
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__link {
        @media screen and (max-width:479px) {
            font-weight: 400;
            font-size: 28px;
            line-height: 1.18;
        }

        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        text-decoration: none;
    }

    &__link--font {
        @media screen and (max-width:479px) {
            font-weight: 400;
            font-size: 24px;
        }

        font-size: 22px;
        line-height: 1.16;
    }

    &__link:hover,
    &__link:focus {
        color: var(--special-text-color);
    }
}

.mob-soc {
    z-index: 10;
    &__list {
        @extend %list;
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__link {
        @media screen and (max-width:479px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.18;
        }

        color: var(--special-text-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        position: relative;
    }

    .sign::after {
        content: "";
        position: absolute;
        right: -10px;
        bottom: 0;
        width: 1px;
        height: 100%;


        // border-radius: 2px;
        border: 1px solid rgba(33, 33, 33, 0.2);

    }

}
}
     

.contacts-list {
    display: flex;
    @extend %list;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
        flex-wrap: wrap;
        margin-left: 55px;
    }
    &__item:not(:last-child) {
        margin-right: 50px;
        @media screen and (min-width: 768px) and (max-width:1199px) {
        margin-right: 0;
        margin-bottom: 10px;
        }   
        }
    &__icon {
        fill: var(--secondary-text-color);
        margin-right: 10px;
        transition: fill var(--basic-animation);
        }
    &__link {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        @extend %flex;
        padding-top: 32px;
        padding-bottom: 32px;
        @media screen and (min-width: 768px) and (max-width:1199px) {
        padding: 0 0;
        }
    
        color: var(--secondary-text-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        }
    
    &__link:hover,
    &__link:focus {
        color: var(--special-text-color);
        }
    
    &__link:hover &__icon,
    &__link:focus &__icon {
        fill: var(--special-text-color);
        }
}


