.hero {
    background-color: var(--special-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    /* added backgroung photo */
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // @media screen and (min-width: 320px) {
    //     padding-top: 90px;
    //     padding-bottom: 90px;
    //     max-width: 320px;
    // }
    // @media screen and (min-width: 480px) and (max-width: 767px) {
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    //     max-width: 480px;
    // }
}

/* adding backdrop */

/* adding form */
.modal-title {
    display: inline-block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color)
}
.title {
    display: inline-block;
    margin-bottom: 30px;
    width: 696px;

    color: var(--main-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width:320) {
        width: 200px;

        color: red;
        font-size: 22px;
        line-height: 1.62;
    }
    @media screen and (min-width:480) and (max-width: 767px) {
        width: 360px;

        color: red;
        font-size: 26px;
        line-height: 1.62;
    }
}

.order-button {
    display: block;
    min-width: 216px;
    height: 50px;
    @include bordered(1px, var(--special-text-color));
    border-radius: 4px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;

    color: #ffffff;
    background-color: var(--special-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
        min-width: 200px;
    }
}