:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --special-text-color: #2196F3;
    --nav-bg-color: #fff;
    --main-bg-color: #fff;
    --special-bg-color: #2F303A;
    --basic-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
